<?xml version="1.0" encoding="UTF-8" ?>
<Server version="8">
  <Name>VollyAI OvenMediaEngine</Name>
  <Type>origin</Type>
  <IP>*</IP>
  <PrivacyProtection>false</PrivacyProtection>
  <Modules>
    <HTTP2><Enable>true</Enable></HTTP2>
    <LLHLS><Enable>true</Enable></LLHLS>
  </Modules>
  <Bind>
    <Managers>
      <API>
        <Port>${env:OME_API_PORT:8081}</Port>
        <WorkerCount>1</WorkerCount>
      </API>
    </Managers>
    <Providers>
      <RTSPC><WorkerCount>1</WorkerCount></RTSPC>
      <RTMP><Port>${env:OME_RTMP_PROV_PORT:1935}</Port><WorkerCount>1</WorkerCount></RTMP>
      <SRT><Port>${env:OME_SRT_PROV_PORT:9999}</Port><WorkerCount>1</WorkerCount></SRT>
    </Providers>
    <Publishers>
      <LLHLS><Port>${env:OME_LLHLS_STREAM_PORT:3333}</Port><WorkerCount>2</WorkerCount></LLHLS>
    </Publishers>
  </Bind>
  <Managers>
    <Host><Names><Name>*</Name></Names></Host>
    <API>
      <AccessToken>${env:OME_API_ACCESS_TOKEN}</AccessToken>
      <CrossDomains><Url>http://localhost:*</Url><Url>https://localhost:*</Url></CrossDomains>
    </API>
  </Managers>
  <Defaults><CrossDomains><Url>*</Url></CrossDomains></Defaults>
  <VirtualHosts>
    <VirtualHost>
      <Name>default</Name>
      <Host><Names><Name>*</Name></Names></Host>
      <CrossDomains><Url>*</Url></CrossDomains>
      <Applications>
        <Application>
          <Name>app</Name>
          <Type>live</Type>
          <OutputProfiles>
            <OutputProfile>
              <Name>source_passthrough</Name>
              <OutputStreamName>${OriginStreamName}</OutputStreamName>
              <Playlist>
                <Name>default</Name><FileName>master</FileName>
                <Rendition><Name>source</Name><Video>bypass_video</Video><Audio>bypass_audio</Audio></Rendition>
              </Playlist>
              <Encodes>
                <Video><Name>bypass_video</Name><Bypass>true</Bypass></Video>
                <Audio><Name>bypass_audio</Name><Bypass>true</Bypass></Audio>
              </Encodes>
            </OutputProfile>
          </OutputProfiles>
          <Providers><RTMP /><SRT /><RTSPPull /></Providers>
          <Publishers>
            <AppWorkerCount>1</AppWorkerCount>
            <StreamWorkerCount>4</StreamWorkerCount>
            <LLHLS>
              <OriginMode>true</OriginMode>
              <ChunkDuration>0.5</ChunkDuration>
              <PartHoldBack>1.5</PartHoldBack>
              <SegmentDuration>2</SegmentDuration>
              <SegmentCount>10</SegmentCount>
              <DVR>
                <Enable>true</Enable>
                <TempStoragePath>/var/lib/ovenmediaengine/dvr</TempStoragePath>
                <MaxDuration>${env:OME_DVR_MAX_DURATION:21600}</MaxDuration>
              </DVR>
              <CrossDomains><Url>*</Url></CrossDomains>
              <CreateDefaultPlaylist>true</CreateDefaultPlaylist>
            </LLHLS>
            <FILE>
              <RootPath>/recordings</RootPath>
              <StreamMap><Enable>true</Enable><Path>./record_map.xml</Path></StreamMap>
            </FILE>
          </Publishers>
        </Application>
      </Applications>
    </VirtualHost>
  </VirtualHosts>
</Server>
